.navbar {
    margin-bottom: 0;
}

#titleDiv {
    margin: 0;
    padding: 0;
    background: #18C7E1;
    /* height: 150px; */
    height: auto;
    text-align: center;
}

#titleText {
    color: white;
    font-family: 'Open Sans', 'Helvetica Nue', Helvetica, Arial;
    vertical-align: middle;
    /* font-size: 32px; */
    font-size: 2em;
    width: 65%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0;
}

.blueBg {
    background-image: url("../img/homebg.png");
    background-repeat: repeat-x;
}

#myCarousel {
    max-height: 370px;
    max-width: 932px;
    margin: auto;
}
.carousel-indicators {}

/* Removing carousel controls gradients */

.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

#homeExtraInfo {
    background:#008080;
    width:100%;
    color:white;
    margin-bottom: 25px;
}

#forgotPass {
    margin-top: 7px;
}

#loginNotification, #regNotification {
    margin-top: 15px;
}

.top-buffer {
    margin-top: 27px;
}


/* Sticky footer styles
-------------------------------------------------- */

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */

#wrap {
    background-color: rgb(239, 246, 250);
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */

#footer {
    color: white;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background-color: #3a2e21;

    /* position: relative;
    margin-top: -60px; negative value of footer height
    clear:both;
    padding-top:20px; */
}

/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */


/* .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .credit {
    margin: 20px 0;
}
 */


 /* Custom navbar -------------------------------------------------- */

.navbar-default {
    background-color: #3a2e21;
    border-color: #3a2e21;
}
.navbar-default .navbar-brand {
    color: #f8feff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #f8feff;
}
.navbar-default .navbar-nav > li > a {
    color: #f8feff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #3a2e21;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #f8feff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #3a2e21;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #3a2e21;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3a2e21;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #3a2e21;
}
.navbar-default .navbar-toggle {
    border-color: #3a2e21;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #3a2e21;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f8feff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #f8feff;
}
.navbar-default .navbar-link {
    color: #f8feff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f8feff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #3a2e21;
    }
}

/* Custom tabs -------------------------------------------------- */

/*  mahmoud tab */
div.mahmoud-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  /* margin-left: 50px; */
  margin-bottom: 70px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.mahmoud-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.mahmoud-tab-menu div.list-group{
  margin-bottom: 0;
}
div.mahmoud-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.mahmoud-tab-menu div.list-group>a .glyphicon,
div.mahmoud-tab-menu div.list-group>a .fa {
  color: #147cc7;
}
div.mahmoud-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.mahmoud-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.mahmoud-tab-menu div.list-group>a.active,
div.mahmoud-tab-menu div.list-group>a.active .glyphicon,
div.mahmoud-tab-menu div.list-group>a.active .fa{
  background-color: #147cc7;
  background-image: #147cc7;
  color: #ffffff;
}
div.mahmoud-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #147cc7;
}

div.mahmoud-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.mahmoud-tab div.mahmoud-tab-content:not(.active){
  display: none;
}



#cvBtns {
    float:right;
    margin-bottom:15px;
    margin-right:15px;
}
